/* タブレットのスタイル */
@media screen and (max-width: 959px){
    .main_inner{
        min-height: 100%;
        width: 100%;
        padding-top: 50px;
        }
    
}

/* スマホのスタイル */
@media screen and (max-width: 559px){
    .main_inner{
        min-height: 100%;
        width: 100%;
        line-height: 1.8em;
    }

    p{
        font-size: 20px;
        margin-top: 35px;
    }

    .timer_wrapper{
        width: 85%;
        font-size: 13px;   
    }
    
    #timer{
        font-size: 40px;
    }
    
    .btn{
        width: 22%;
    }

    .record_contents_style{
        display: inline-block;
        margin-bottom: 17px;
    
        .li_1 {
            width: 70%;
            font-size: 18px;
            } 
        .li_2 {
            display: block;
            width: 95%;
            input{
                width: 100%;
            }
            } 
        .li_3 {
            display: block;
            width: 95%;
            input {
                width: 100%;
                }
            } 
        .li_4 {
            display: block;
            width: 10%;
            } 
            
        }
    
    
}